# This is an .envrc file, used by Direnv (https://direnv.net/).
# Direnv automatically loads and unloads environment variables depending on the current directory.

# Check if a file named '.env' exists in the current directory.
# The '.env' file is a common convention for storing project-specific environment variables.
if [ -f .env ]; then
  # If '.env' exists:
  # `set -a`: Mark all variables created or modified from this point forward for automatic export.
  # This means any variables defined in the '.env' file will be exported to the environment.
  set -a
  # `source .env`: Execute the commands in the '.env' file in the current shell context.
  # This loads the variables defined in '.env'.
  source .env
  # `set +a`: Stop automatically exporting variables.
  set +a
else
  # If '.env' does not exist, print a message to standard output.
  # This can be helpful for developers to know that a potential configuration file is missing.
  echo ".env file not found."
fi

